body {
    background-color: #cde7b0;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 18px;
    margin: 0;
    
}

header {
    background-color: #59594a;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px; 
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    float: left;
    width: 100%;
}

.container {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    list-style-position: inside;
    /* display: inline; */
}


.logo-holder {
    float: left;
    width: 5%;
    margin: 10px;
    
}

.logo-holder :hover{
    color: red;
}

.gif-holder {
    text-align: center;
}
section {
    float: left;
    width: 70%;
    margin-bottom: 100px;
    text-align: left;
}

.food-image {
    float: left;
    padding-right: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.food-description {
     padding-left: 20px;
}

/* .steps {
    padding-left: 20px;
} */
h2 {
    text-align: center;
}
/* p {
    clear: both;
} */

aside {
    float: right;
    width: 30%;
    text-align: left;
}

footer {
    clear: both;
    background-color: #7286a0;
    padding: 50px 0;
    text-align: center;
}

ul li {
    margin-bottom: 10px;
}

ol li {
    margin-bottom: 20px;
}